.card {
    width: 95%;
    margin-bottom: 10px;
}

.App {
    text-align: center;
}

.sum-name {
    text-align: center;
}

.champ-img {
    width: 25%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }